{% extends 'index.html' %}
{% load static %}
{% block content %}

            <div id="home_title_cont">
                <div id="hey_there_cont">
                    <h3 id="hey_there">
                        <em>
                        </em>
                    </h3>
                    
                </div>
            </div>
            
            <script>
                /* display hey_there leters one by one */
                var hey_there = document.getElementById("hey_there");
                var hey_there_text = "Hey there!";
                var i = 0;
                var hey_there_interval = setInterval(function(){
                    hey_there.innerHTML += hey_there_text[i];
                    i++;
                    if(i == hey_there_text.length){
                        clearInterval(hey_there_interval);
                    }
                }, 200);
                
                </script>

                <br>

                <div id="home_body">
                <p class="other_content" style="word-spacing: 3px; letter-spacing: 1px; line-height: 30px; margin: 0 auto;">
                    <em>
                       <b>Hey!🖐 My name is Jacob. I am a self-taught developer and I am currently learning Python.</b>
                    </em>
                    Pursuing in the field of  software development, and working on projects that are useful to the community has been
                    my ambition since I was in high school. Unfortunately after graduating from high school, I was enrolled in the school of education.
                    That didn't stop me from pursuing my dream of becoming a software developer. I went down the rabbit hole and started learning HTML & CSS3.
                    I used the free online tutorial site <a href="https://www.w3schools.com/" target="_blank">w3schools.com</a> to learn the basics of HTML & CSS3. I then moved onto learning Python
                    and later on Django.
                    <br><br>
                    Doing this, I have developed a strong foundation in programming and have gained a good understanding of the fundamentals of programming.
                    And it has helped me to develop a strong passion for programming. So, to break from the bulk of the tutorials, I decided to apply for a bachelor's degree in software Engineering.


                    <br><br>

                    <tt>
                        <b>
                            On <date>July 2022</date> I applied to African Leadership University (ALU) and I got accepted. I also applied for a scholarship and luckily
                            I manged to get a <currency>$2ooo</currency> worth schorlaship waived against <currency>$3000</currency> which
                            is their tution fees.
                        </b>
                    </tt>

                    <br><br>

                    My initial approved intake was <date>Septemper 2022</date>. Following that I had applied just two months before, it was too
                    soon for me considering my financial preperation and so I had to make a defferal until <date>January 2023</date> believing
                    that by then I would have enlighted some weigh down.

                    <br> <br>

                    <b>
                        I developed this application specifically for the same reason, to get a financial boost and to connect. Get the hand 
                        that I need in managing the expenses and any advice that might help. Do not hesitate to share your thought; if there is 
                        any about this approach or any other concern that you think would be good for me. Visit my <a href="{% url 'comm' %}">community</a>
                        page and leave your thought. 
                        <br> <br>
                        <p style="text-align: center; width: 100%">
                            <i><code>For feedback or any query you can reach out my private
                            <a href="mailto: dn@givej.live">mail</a>.</i> <br> <br> <a href="{% url 'about' %}">More about me</a> </code></p>
                    </b>


                </p>

                <br>

                <div id="expenses">
                    <h3>
                        The expenses are:
                    </h3>
                    <div class="expenses">
                        <dfn> <span class="dot">&nbsp;&nbsp;</span>&nbsp;<currency>$500</currency> Place Reservation Fee</dfn> 
                        <p>
                            They require that for every student who gets admitted pays a one time non-refundable place Reservation fee That
                            amounts to <currency>$500</currency> before the actual date of admission.
                        </p>
                    </div>
                    <div class="expenses">
                        <dfn> <span class="dot">&nbsp;&nbsp;</span>&nbsp;<currency>$1000</currency> Tution</dfn> 
                        <p>
                            ALU's annual tution fee is <currency>$3000</currency> but I managed a <currency>$2000</currency> worth of community 
                            scholarship that will be applied on the tution annually. And so, it remained only <currency>$1000</currency> which also
                            am supposed to clear before the actual day of admission.
                        </p>
                    </div>
                    <div class="expenses">
                        <dfn> <span class="dot">&nbsp;&nbsp;</span>&nbsp;<currency>$250</currency> Accomodation</dfn> 
                        <p>
                            ALU's provided accomodation is <currency>$250</currency> per month.
                        </p>
                    </div>
                    <div class="expenses">
                        <dfn> <span class="dot">&nbsp;&nbsp;</span>&nbsp;<currency>$600</currency> Plane Ticket</dfn> 
                        <p>
                            A two-way plane ticket from Nairobi to Kigali is around <currency>Ksh. 70,000</currency>
                        </p>
                    </div>
                    <div class="expenses">
                        <dfn> <span class="dot">&nbsp;&nbsp;</span>&nbsp;<currency>$700</currency> Laptop</dfn> 
                        <p>
                            For every Software Engineering student, having a laptop/desktop is a great deal. It has everything
                            to do with the entire course's ease and success.
                        </p>
                    </div>

                    <p>
                        From the above budget, I am required to must have at least <currency>$3050 (Ksh. 366,915)</currency> to ensure 
                        a fine start on the course. Compared to my setting, that amount is quiet and so I seek assistance.
                    </p>
                </div>


                <br>

                <!--
                <script>
                    /* toggle other_content class */
                    setTimeout(function(){
                        var other_content = document.getElementsByClassName("other_content");
                        other_content[0].classList.toggle("other_content1");
                        /* display block */
                        other_content[0].style.display = "block";
                    }, 2000);

                </script>
            -->
                
                <div style="text-align: center; margin: 50px 0px 25px 0px;">
                    <paymenttitle>Use the following Methods</paymenttitle>
                </div>

            <div>
                <details>
                    <summary>M-Pesa<span>...</span></summary>
                    <p>
                        This is the M-Pesa details. 
                    </p>
                </details>
                <details>
                    <summary>Bank<span>...</span></summary>
                    <p>
                        This would be the bank details....  
                    </p>
                </details>
            </div>

            <div>
                <details>
                    <summary>
                        PayPal <span>...</span>
                    </summary>
                    <p>
                        Paypal Payment method details..... 
                    </p>
                </details>
                <details>
                    <summary>Other Methods<span>...</span></summary>
                    <p>
                        This will include more paying Methods.
                    </p>
                </details>
            </div>

        <div id="contact" >
            <div style="text-align: center;">
                <paymenttitle>Get in touch.</paymenttitle>
            </div>
            <br>
            <br>

            <a href="mailto: admin@awardjacob.me">
                📤&nbsp; admin@awardjacob.me
            </a>
            <a href="tel:+254748199786">
                📞  +254748199786
            </a>
            <br>
            <br>

        </div>

    </div>
    <br>

{% endblock %}